#home
  %div{ :class => 'toolbar' }
    %h1= @word.definition.headword
    %li{ :class => 'forward' }= link_to 'Home', root_url, :class => 'back', :target => '_webapp'
    
  %ul{ :class => 'rounded' }
    %li= @word.definition.text

  =render :partial => 'fun'
  =render :partial => 'powered'
