#home
  %div{ :class => 'toolbar' }
    %h1= "'#{@lookup}' Not Found"
    %li{ :class => 'forward' }= link_to 'Home', root_url, :class => 'back', :target => '_webapp'
    
  %h2 Unfortunately we were unable to find anything for '#{@lookup}'

  =render :partial => 'fun'
  =render :partial => 'powered'
